The purpose of this notebook is to analyze movies data downloaded from http://grouplens.org/datasets/movielens.

In [10]:
# Create spark session. 
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('Analyzing Movies dataset') \
    .config(conf=SparkConf()) \
    .getOrCreate()

In [11]:
!aws s3 ls s3://athena-chadderw/datasets/Downloaded/movielens/

2018-01-07 02:47:21  214322450 genome_scores.csv
2018-01-07 02:47:21      20363 genome_tags.csv
2018-01-07 02:47:21     539334 link.csv
2018-01-07 02:47:21    1493648 movie.csv
2018-01-07 02:48:15  206249888 movielens-20m-dataset.zip
2018-01-07 02:47:21  690353377 rating.csv
2018-01-07 02:47:21   21725514 tag.csv

In [21]:
# setup the data directory to begin loading CSV files into spark
data_dir = 's3://athena-chadderw/datasets/Downloaded/movielens/'

moviesDF = spark.read.format("csv").option('header', 'True').load(data_dir + 'movie.csv')
ratingDF = spark.read.format("csv").option('header', 'True').load(data_dir + 'rating.csv')
genome_scores_DF = spark.read.format("csv").option('header', 'True').load(data_dir + 'genome_scores.csv')
genome_tags_DF = spark.read.format("csv").option('header', 'True').load(data_dir + 'genome_tags.csv')
tagsDF = spark.read.format("csv").option('header', "True").load(data_dir + 'tag.csv')
moviesDF.show(5, truncate=False)
ratingDF.show(5, truncate=False)
genome_scores_DF.show(5, truncate=False)
genome_tags_DF.show(5, truncate=False)
tagsDF.show(5, truncate=False)

+-------+----------------------------------+-------------------------------------------+
|movieId|title                             |genres                                     |
+-------+----------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                  |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                    |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)           |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)          |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)|Comedy                                     |
+-------+----------------------------------+-------------------------------------------+
only showing top 5 rows

+------+-------+------+-------------------+
|userId|movieId|rating|timestamp          |
+------+-------+------+-------------------+
|1     |2      |3.5   |2005-04-02 23:53:47|
|1     |29     |3.5   |2005-04-02 23:31:16|
|1     |32     |3.5   |2005-04-02 23:33:39|
|1     |47     |3.5   |2005-04-02 23:32:07|
|1     |50     |3.5   |2005-04-02 23:29:40|
+------+-------+------+-------------------+
only showing top 5 rows

+-------+-----+---------+
|movieId|tagId|relevance|
+-------+-----+---------+
|1      |1    |0.025    |
|1      |2    |0.025    |
|1      |3    |0.05775  |
|1      |4    |0.09675  |
|1      |5    |0.14675  |
+-------+-----+---------+
only showing top 5 rows

+-----+------------+
|tagId|tag         |
+-----+------------+
|1    |007         |
|2    |007 (series)|
|3    |18th century|
|4    |1920s       |
|5    |1930s       |
+-----+------------+
only showing top 5 rows

+------+-------+-------------+-------------------+
|userId|movieId|tag          |timestamp          |
+------+-------+-------------+-------------------+
|18    |4141   |Mark Waters  |2009-04-24 18:19:40|
|65    |208    |dark hero    |2013-05-10 01:41:18|
|65    |353    |dark hero    |2013-05-10 01:41:19|
|65    |521    |noir thriller|2013-05-10 01:39:43|
|65    |592    |dark hero    |2013-05-10 01:41:18|
+------+-------+-------------+-------------------+
only showing top 5 rows

In [13]:
moviesDF.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [14]:
ratingDF.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

We need to convert movieID, userId, rating from String to Integer and timestamp to datetime format.

In [20]:
from pyspark.sql.functions import expr
#moviesDF = moviesDF.select('movieId', expr(int('movieId')))
moviesDF = moviesDF.select($"movieId".cast("Integer"))
moviesDF.printSchema()

SyntaxError: invalid syntax (<ipython-input-20-a9e23df1c10c>, line 3)